# Spotify OAuth2 — Crie seu app em https://developer.spotify.com/dashboard
SPOTIFY_CLIENT_ID="518a2755bb6048df8d819d101ea442cd"
SPOTIFY_CLIENT_SECRET="29b5c6e0c41b4bf489d6d068a67643a7"

# URL base do client (para redirect após login)
CLIENT_URL=http://localhost:5173
